@media only screen and (max-width:1080px) {
  body {
    margin: 1em;
  }

  #cocktail-name {
    font-size: 3em;
  }



}

@media handheld,
only screen and (max-width:720px) {
  h1 {
    font-size: 1.25em;
  }
}

@media handheld,
only screen and (max-width:425px) {

  #recipe-list li:nth-child(3n) .recipe-detail {
    right: 0;
  }

  #recipe-list li:nth-child(3n-2) .recipe-detail:nth-child(3n) {
    left: 0;
  }

  select#select_cocktail_no {
    width: calc(100% - 1em);
  }

}