@media only screen and (max-width:1080px) {
  body {
    padding: 0 !important;
    margin: 56px 0 0;
  }

  #main_item {
    width: 100% !important;
    position: static;
  }

  header {
    width: 100%;
    font-size: .75em;
    position: fixed;
    padding-left: 0 !important;
  }

  body.fold header {
    width: 100%;
  }

  h1 {
    text-align: center;
    white-space: nowrap;
    margin: 14px 1em 14px 3em;
  }

  #toast {
    padding: 1em 1.5em 1em .75em;
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
    bottom: 0;
    left: 0 !important;
    z-index: 5;
  }

  @keyframes snackbar_on {
    0% {
      bottom: -56px;
    }

    100% {
      bottom: 0;
    }
  }

  #toast.on {
    animation-name: snackbar_on;
    animation-duration: .3s;
  }

  @keyframes snackbar_off {
    0% {
      bottom: 0;
    }

    100% {
      bottom: -56px;
    }
  }

  #toast.off {
    bottom: -56px;
    animation-name: snackbar_off;
    animation-duration: .3s;
  }

  .hide_mobile {
    display: none !important;
  }

  #main_item .contents {
    column-count: 1;
    height: inherit;
    padding: 1em;
  }

  #item_list {
    height: inherit;
    padding: 0 1em;
    overflow-x: hidden;
    max-height: initial;
  }

  #item_list section.item {
    /* width: 100%; */
    max-width: calc(100% - 2em);
    margin: 0;
    border-top: 1px rgba(0, 0, 0, .12) solid;
    background: #fff;
  }

  #item_list section.item:last-child {
    margin-bottom: 1em;
  }

  #item_list h2 a.btn_item_fold {
    position: absolute;
    right: 0;
    opacity: 1;
    /* top: .4em; */
    z-index: 1;
    width: 20px;
    overflow: visible;
  }

  footer {
    box-shadow: none !important;
  }
}

@media handheld, only screen and (max-width:720px) {
  header .timer {
    display: none;
  }
}
