.contents .ad {
  margin: 1em 0;
}

.contents .ad.top {
  margin-top: 0;
}

.contents .ad.top {
  position: absolute;
  min-height: 280px;
}

.contents .ad.top+.q_list .head, .contents .ad.top+.q_list.head,
.contents .ad.top+.q_wrap {
  margin-top: calc(280px + .5em);
}
