/* general */
.general__dark,
.general__dark header,
.general__dark nav,
.general__dark .copyright,
.general__dark #main_item,
.general__dark nav #nav_header,
.general__dark #to_github,
.general__dark #item_list section.item,
.general__dark dl#setting, .general__dark #share, .general__dark nav #nav_footer {
  background: rgba(50, 54, 57, 1);
  color: rgb(189, 193, 198);
  transition: .3s, background-color 0s, color 0s;
}

.general__dark nav #nav_footer {
  transition: 0s;
}

/* only color */
.general__dark #setting .setting_title, .general__dark #setting .setting_item, .general__dark #setting dt, .general__dark #setting input[checked]+dt, .general__dark #setting dd,
.general__dark h2, .general__dark h3, .general__dark nav #nav a>*,
.general__dark nav a, .general__dark nav h2 a,
.general__dark section>h3+a, .general__dark nav h3>a:nth-child(2) {
  color: rgb(189, 193, 198);
}

/* contents */
.general__dark .q_wrap .comment {
  color: #c8b900;
}

.general__dark.answer__quiz .q_wrap .answer {
  background: #424242C0;
  outline-color: #424242C0;
}

.general__dark .contents .img,
.general__dark .contents img,
.general__dark .contents svg,
.general__dark .contents object {
  fill: rgb(189, 193, 198);
}

.general__dark .contents ol li:before {
  border-color: rgb(189, 193, 198);
}

/* nav */
.general__dark nav {
  border-right: solid 1px var(--black-transparent-12, rgba(30, 34, 37, .45));
}

.general__dark nav #nav_header {
  box-shadow: 0 -1px 0 rgba(30, 34, 37, .45) inset !important;
}

.general__dark #setting_bt {
  border-left: 1px solid rgba(30, 34, 37, .45);
}

/* misc */
.general__dark .shadow-right {
  box-shadow: 2px 0 6px 0 rgba(30, 34, 37, .45);
}

.general__dark .shadow-bottom {
  box-shadow: 0 2px 6px 0 rgba(30, 34, 37, .45);
}

.general__dark .targeted {
  background: gray !important;
}

/* anchor */
.general__dark a {
  color: #f0f0f0;
}

.general__dark h3 a {
  color: rgb(189, 193, 198);
}

.general__dark a:hover {
  background: rgba(50, 54, 57, 1);
}
