.answer__quiz .q_wrap .answer {
  opacity: 0;
  background: #FFFACD;
  padding: .5em 1em;
  margin: -.5em -1em .5em;
  border-radius: .5em;
  display: inline-block;
}

.answer__quiz .q_wrap .comment {
  opacity: 0;
}

.answer__quiz .q_wrap:hover .answer,
.answer__quiz .q_wrap:hover .comment {
  opacity: 1;
}
