@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
/*@import url(iconfont/material-icons.css);*/
/* @import url('style_card.css'); */
@import url('style__general__dark.css');
@import url('style__answer__serif.css');
@import url('style__answer__quiz.css');
@import url('style_nav.css');
@import url('style_share.css');

::selection {
  background: rgba(0, 0, 0, 0);
}

.contents ::selection {
  color: rgba(0, 0, 0, .87);
  /* text-shadow: 1px 2px 1px #c8b900; */
  background: #ffeb3b;
  padding: 1em;
}

:focus {
  outline: none;
}

::-webkit-scrollbar-track {
  background-color: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

input::selection, textarea::selection {
  background: rgba(0, 0, 0, .2);
}

body {
  padding: 0 0 0 300px;
  margin: 56px 0 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgba(0, 0, 0, .87);
  cursor: default;
  overflow-x: hidden;
  transition: .3s;
}

body.quick {
  background: #E8EAF6;
}

body.quick::before {
  content: "directions_run";
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 10em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  position: fixed;
  opacity: .54;
  right: 0;
  bottom: 24px;
  z-index: 0;
}

body.quick::after {
  content: "QUICK MANUAL MODE ACTIVATED!";
  position: fixed;
  opacity: .54;
  right: 12px;
  bottom: 6px;
  z-index: -1;
}

h2 {
  margin: 1em 0;
}

.tip:hover {
  opacity: .5;
}

body.columns {
  max-width: 100%;
  padding-left: calc(1em + 300px);
}

body.fold {
  padding: 0 0 0 68px;
}

#main_item {
  padding: 0;
  margin: 0;
  width: calc(100% - 300px);
  position: absolute;
  top: 56px;
  z-index: 2;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, .2); */
  background: #fff;
  transition: .3s;
}

#main_item .contents {
  margin: auto;
  column-width: 34em;
  height: calc(100vh - 4em - 56px);
  padding: 2em;
  overflow-y: visible;
  overflow-x: auto;
  column-fill: auto;
  transform: translateX(0);
}

#item_list {
  padding: 0 1em 0 2em;
  display: flex;
  flex-flow: wrap;
  max-height: calc(100vh - 64px - 64px);
  overflow: auto;
}

#item_list section.item {
  position: relative;
  padding: 1em 2.5em 1em 1em;
  margin: 0 1em 1em 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  /* background: #fff; */
  transition: .25s;
  z-index: 1;
  flex: auto;
  max-width: 12em;
}

#item_list h2 {
  width: 100%;
}

section.on {
  margin: 1em -1em;
  padding: 2em;
  box-shadow: 0 5px 11px rgba(0, 0, 0, .2);
  /*width: 100%;*/
}

section h3 {
  margin: 0;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

dl#setting {
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background: #fff;
  width: calc(100% - 2em);
  transition: .25s, background 0s, color 0s;
  /*border-top: 1px rgba(0, 0, 0, .12) solid;*/
}

section>h3+a,
nav h3>a:nth-child(2) {
  position: absolute !important;
  right: 0;
  top: 1.4em;
  opacity: 0;
  color: rgba(0, 0, 0, 0.38);
}

nav h3>a:nth-child(2) {
  top: .4em;
  z-index: 1;
  width: 20px;
  overflow: visible;
}

section>h3:hover+a,
nav h3:hover>a:nth-child(2) {
  opacity: 1;
  background: none;
}

section>h3+a:hover {
  box-shadow: none;
  background: none;
  opacity: 1;
}

nav.fold h3:hover>a:nth-child(2) {
  display: none;
}

body.fold #main_item {
  width: calc(100% - 68px);
}

header {
  position: fixed;
  color: rgba(0, 0, 0, .98);
  /* box-shadow: 0 2px 6px 0 rgba(60, 64, 67, .15); */
  transition: .3s;
  padding-left: 300px;
  width: calc(100% - 300px);
  height: 56px;
  left: 0;
  top: 0;
  z-index: 4;
  background: #fff;
  text-align: center
}

body.fold header {
  padding-left: 68px;
  width: calc(100% - 68px);
}

.disabled {
  color: rgba(255, 255, 255, 0.3);
}

.hide {
  display: none !important;
  margin: 0 !important;
}

.shadow-right {
  box-shadow: 2px 0 6px 0 rgba(60, 64, 67, .15);
}

.shadow-bottom {
  box-shadow: 0 2px 6px 0 rgba(60, 64, 67, .15);
}

section.sub {
  width: 100%;
  text-align: center
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  transition: .25s;
  padding: .5em .75em;
  margin: -.75em
}

.contents a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  background: #fff;
  position: relative;
}

li a {
  padding: 0;
  margin: 0;
}

li a:hover {
  position: inherit;
  box-shadow: none;
  background: rgba(0, 0, 0, .05);
}

h2, h3, h2 a, h3 a {
  color: rgba(0, 0, 0, .54);
  /* transition: .25s; */
}

h1 {
  /* text-transform: uppercase; */
  font-size: 20px;
  margin: 14px 2em;
  /* font-weight: normal; */
  text-align: left;
}

h1 .percentage:before {
  content: "달성률: "
}

.percentage {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: .25s;
  transition: .25s;
  position: absolute;
  margin-left: .5em
}

nav .percentage {
  margin-right: 1em;
  right: 0;
}

h1:hover .percentage, h2:hover .percentage, h3:hover .percentage {
  opacity: .75;
}

h3 .material-icons {
  vertical-align: bottom;
  font-size: 1.25em !important;
  margin-right: 1em
}

h4 {
  margin: 2em 0 0
}

h4:first-of-type {
  margin-top: .5em
}

#img_wrap, #movie_wrap {
  display: none;
  /*opacity: 0;*/
  transition: .25s;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  text-align: center
}

#movie_wrap>iframe {
  width: 90%;
  position: relative
}

.shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  border-radius: 3px;
  background: #fff;
}

#img_wrap>img {
  /* 클릭했을 때 크게 보이는 것 */
  max-width: 90%;
  max-height: 90%;
  position: relative
}

.material-icons {
  vertical-align: text-bottom;
  margin-right: .5em;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

a:not(nav a)>.material-icons {
  margin: 0;
}

input[type="checkbox"] {
  display: none;
}

.copyright {
  text-align: center;
  background: none;
  color: rgba(0, 0, 0, .54);
  /*font-size: .8em;*/
  padding: 1em;
  margin: 0;
}

.copyright a {
  color: inherit !important;
  font-weight: inherit;
}

.targeted {
  background: #9ACFF9 !important;
}

/* ------------------------------------------------------------------- */
/* ***** footer ***** */
/* ------------------------------------------------------------------- */
footer {
  /* width: calc(100% - 300px);
  position: absolute;
  bottom: 0; */
}

/* ------------------------------------------------------------------- */
/* ***** tooltip ***** */
/* ------------------------------------------------------------------- */
#tooltip, #tooltip_nav {
  color: #fff;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  background: #212121;
  -webkit-transition: .5s opacity;
  transition: .5s opacity;
  padding: 1ex;
  border-radius: 3px;
  max-width: 400px;
  z-index: 3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

#tooltip_nav {
  position: fixed;
  z-index: 4;
}

#tooltip_before, #tooltip_nav_before {
  border-color: #212121 transparent transparent;
  border-width: 1ex 1ex 0;
  border-style: solid;
  content: " ";
  position: absolute;
  left: calc(50% - .5em);
  bottom: -.9ex
}

#tooltip_text {
  white-space: pre-line;
}

/* ------------------------------------------------------------------- */
/* ***** toast ***** */
/* ------------------------------------------------------------------- */
#toast {
  position: fixed;
  background-color: #424242;
  color: rgba(255, 255, 255, .9);
  padding: 1em 1.5em 1em .75em;
  min-width: 350px;
  max-width: calc(100% - 2em);
  bottom: 1em;
  z-index: 5;
}

@keyframes snackbar_on {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#toast.on {
  animation-name: snackbar_on;
  animation-duration: .3s;
}

@keyframes snackbar_off {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#toast.off {
  opacity: 0;
  visibility: none;
  animation-name: snackbar_off;
  animation-duration: .3s;
  z-index: 0;
}

/* ------------------------------------------------------------------- */
/* ***** context-menu ***** */
/* ------------------------------------------------------------------- */
#contextmenu {
  z-index: 1000;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  cursor: default;
  color: rgba(0, 0, 0, .5);
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transition: .25s;
  transition-property: opacity, transform, margin;
  top: 50%;
  font-size: 14px;
}

#contextmenu {
  top: 2em;
  left: -302px;
  transform: perspective(500px) rotateX(15deg);
  margin-top: -2em;
}

#contextmenu.on {
  transform: none;
  transform-origin: 50% 100%;
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

#contextmenu>.output {
  overflow: hidden;
  width: 300px;
  height: 100px;
  border: none;
  padding: .5em;
}

#contextmenu>.output:focus {
  outline: none;
}

#contextmenu>.output::selection {
  background: rgba(0, 0, 0, 0.1);
}

#contextmenu i {
  font-size: 1.25em;
}

#contextmenu>div {
  padding: 1ex 2ex;
  color: #212121;
}

#contextmenu>div:hover {
  background: rgba(158, 158, 158, .2);
  box-shadow: none;
  z-index: 1
}

.logo_inline {
  display: inline-block !important;
  margin: -12px -10px -22px -12px !important;
  width: 53px;
}

.logo_inline.black {
  opacity: .54;
}

.for_dev {
  display: none;
}

.for_dev:not(.on):not(h3), nav .for_dev {
  background: #fea;
}

.loading {
  text-align: center;
}

.spin {
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*#contextmenu > #for_copy { position: absolute; top: 0; margin: 0; }*/
/* ------------------------------------------------------------------- */
/* ***** target IE or other brower ***** */
/* ------------------------------------------------------------------- */
#browser_alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  z-index: 9;
  background: #fff;
  background: rgba(255, 255, 255, .95);
}

#browser_alert.on {
  display: block;
}

#browser_alert div {
  max-width: 600px;
  margin: auto;
}

/* account img */
#account_img {
  width: 40px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  margin: -14px 0;
  border-radius: 50%;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2);
  background-size: 40px;
  background-position: center top;
}

/* ------------------------------------------------------------------- */
/* ***** mobile ***** */
/* ------------------------------------------------------------------- */
@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:1080px) {
  body {
    padding: 0 !important;
    margin: 56px 0 0;
  }

  #main_item {
    width: 100% !important;
    position: static;
  }

  header {
    width: 100%;
    font-size: .75em;
    position: fixed;
    padding-left: 0 !important;
  }

  h1 {
    text-align: center;
  }

  #sub_header {
    padding-left: 0 !important;
    width: 100% !important
  }

  #column_bt {
    display: none;
  }

  #sub_header .filter_bt {
    padding: 12px 18px
  }

  #column_bt i, #sub_header i {
    margin: 0
  }

  #sub_header .filter_bt span:not(.ink_bar) {
    display: none
  }

  #toast {
    padding: 1em 1.5em 1em .75em;
    min-width: 100%;
    max-width: 100%;
    bottom: 0;
    left: 0 !important;
    z-index: 5;
  }

  @keyframes snackbar_on {
    0% {
      bottom: -56px;
    }

    100% {
      bottom: 0;
    }
  }

  #toast.on {
    animation-name: snackbar_on;
    animation-duration: .3s;
  }

  @keyframes snackbar_off {
    0% {
      bottom: 0;
    }

    100% {
      bottom: -56px;
    }
  }

  #toast.off {
    bottom: -56px;
    animation-name: snackbar_off;
    animation-duration: .3s;
  }

  .hide_mobile {
    display: none;
  }

  #main_item .contents {
    column-count: 1;
    height: inherit;
    padding: 1em;
  }

  #item_list {
    height: inherit;
    padding: 0 1em;
    overflow: initial;
    max-height: initial;
  }

  #item_list section.item {
    width: 100%;
    max-width: none;
    margin: 0;
    border-top: 1px rgba(0, 0, 0, .12) solid;
    background: #fff;
  }

  #item_list section.item:last-child {
    margin-bottom: 1em;
  }
}
