body.page {
  margin: auto;
  padding: 0;
  border: none;
  box-shadow: none;
  border: 1px solid silver;
}

@page {
  margin: 10mm;
  width: 210mm;
  height: 297mm;
}

#card_title {
  margin: 0 auto 2em;
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto 2em; */
}

.contents:not(.on) {
  page-break-after: always;
  /* padding-top: 15mm; */
}

.adsbygoogle, .btn_card_print {
  display: none !important;
}

#card_footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
