.answer__quiz .q_wrap .answer {
  opacity: 0;
  background: #FFFACDC0;
  outline: .75em solid #FFFACDC0;
}

.answer__quiz .q_wrap span.answer {
  outline: .35em solid #FFFACDC0;
}

.answer__quiz .q_wrap .comment {
  opacity: 0;
}

.answer__quiz .q_wrap .answer,
.answer__quiz .q_wrap .comment {
  transition: .25s opacity, .25s background, .25s outline;
}

.answer__quiz .q_wrap:hover .answer,
.answer__quiz .q_wrap:hover .comment {
  opacity: 1;
}
