@charset "utf-8";

body.page {
  position: relative;
  width: 210mm;
  height: auto;
  margin: 15mm auto;
  padding: 10mm;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.26);
  background: #fff;
}

.contents {
  font-family: 'Noto Serif KR', serif;
}

.contents {
  line-height: 1.75;
  column-gap: 2.5em;
  counter-reset: question;
  /* transition: .25s; */
}

.contents h2 {
  line-height: 1.25;
}

.contents h3 {
  line-height: 1.5;
}

.contents ol {
  list-style: none;
  padding-left: 1.65em;
  counter-reset: numList;
}

.contents ol li:before {
  counter-increment: numList;
  content: counter(numList);
  font-size: 0.7em;
  margin: 0 .5em 0 -1.85em;
  padding: 0.25ex;
  border: 0.1em solid;
  border-radius: 50%;
  width: 1em;
  line-height: 1;
  display: inline-block;
  text-align: center;
  position: relative;
  top: -.125em;
}

.contents:not(.on) {
  column-count: 2;
  max-width: 210mm;
  column-gap: 10mm;
  margin: 16pt auto;
  font-size: 8pt;
  column-fill: auto;
}

.contents::after {
  font-weight: bold;
  margin-top: 1em;
  content: "끝.";
}

.question, .answer, .comment, .q_wrap>p {
  transform: translateX(0);
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  /* display: list-item;
  list-style: none; */
}

.q_wrap {
  position: relative;
  padding: 0 2em 0 3em;
  margin: 3em 0;
  counter-reset: question_sub;
}

.q_wrap:not(.sub)::before {
  content: counter(question);
  counter-increment: question;
  position: absolute;
  right: calc(100% - 1em);
  font: bold 2em "Noto Serif KR", Serif;
  line-height: 1;
}

.q_wrap .question {
  font-weight: bold;
  margin-bottom: 1em;
}

.q_wrap.sub {
  padding: 0 0 0 1.75em;
  margin: 0;
}

.q_wrap .question.sub {
  position: relative;
  margin-top: 1.5em;
}

.q_wrap .question.sub::before {
  content: "("counter(question_sub) ") ";
  counter-increment: question_sub;
  position: absolute;
  right: calc(100% + .5em);
}

.q_wrap .answer {
  outline: .75em solid #fff0;
  margin-bottom: 1em;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: normal;
}

.q_wrap .comment {
  font-size: .75em;
  /* font-style: italic; */
  color: #2196f3;
  font-family: 'Noto Sans KR', sans-serif;
}

.q_wrap .comment svg {
  stroke: #2196f3;
}

/* ad: 광고가 끼면 first-child 선택자가 안 먹기 때문에 first-of-type 으로 우회합니당^^ */
.contents .ad {
  margin: 1em 0;
}

.q_wrap:first-of-type {
  margin-top: 0;
}

.q_wrap:last-of-type {
  margin-bottom: 0;
}

.contents:not(.on) .q_wrap {
  padding: 0 0 0 1.25em;
}

.contents:not(.on) .q_wrap:not(.sub)::before {
  content: counter(question) ".";
  position: absolute;
  top: 0;
  right: calc(100% - 1em);
  font: bold 1em Serif;
  line-height: 1.75;
}

.contents table {
  margin-top: .25em;
  border-collapse: collapse;
  font-size: 1em;
  text-indent: 0;
}

.contents table th,
.contents table td {
  border: 1px solid;
  padding: 0.25em 0.5em;
}

/* .q_list */
.contents .q_list .q_list__head {
  text-align: center;
}

.contents ol.q_list,
.contents .q_list ol {
  display: flex;
  flex-flow: wrap;
  padding-left: 0;
  margin: 0;
}

.contents ol.q_list,
.contents .q_list {
  border: 1px solid;
  padding: .5em;
  margin: .5em 0;
  width: calc(100% - 1em - 2px);
}

.contents .q_list li {
  flex: auto;
  padding-left: 1.65em;
}

.contents .q_list.ul li:before{display: none;}
.contents .q_list.ul li:not(:last-child):after{content: ", ";}

#card_title {
  text-align: center;
  font-size: 1.25em;
}

#card_footer {
  text-align: center;
  font-size: 12px;
}

/****************************************/
/*                 img                  */
/****************************************/
.contents .img, .contents img, .contents .svg, .contents svg, .contents object, .contents .load {
  max-width: 100%;
  height: inherit;
  margin-left: 0;
  transition: .25s fill;
}

.contents .question .load {
  margin: auto;
}

.contents svg {
  stroke: rgb(0, 0, 0);
}

.contents .w100px {
  max-width: 100px;
}

.contents .w200px {
  max-width: 200px;
}

.contents .w300px {
  max-width: 300px;
}

.contents .w400px {
  max-width: 400px;
}

.contents .w500px {
  max-width: 500px;
}

.translation {
  /* color: rgba(0, 0, 0, .38); */
  opacity: .65;
  font-size: .75em;
  font-style: italic;
  font-family: 'Noto Sans KR', sans-serif;
}

/****************************************/
/*                 key                  */
/****************************************/
.key {
  transition: .25s;
  text-shadow: 0 -1px #e0e0e0;
  box-shadow: 0 6px #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: -.5em .25em .25em;
  padding: .25em .75em;
  background: white;
  color: #212121;
  font-size: .75em;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
  font-family: 'Noto Sans KR', sans-serif;
}

.key:active,
.key.on {
  box-shadow: 0 0px #e0e0e0;
  margin: 0 .25em -.25em;
}

/* ***** mobile ***** */
@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
  section .contents h4 {
    margin-left: 0;
    padding: 0.5em 1em !important;
  }

  section.on {
    padding: 1em;
    margin: 1em -1em;
    width: 100%;
  }

  #main_item .contents {
    height: inherit;
    font-size: 14px;
    padding: 1em;
  }

  .q_wrap {
    padding: 0;
  }

  .q_wrap:not(.sub)::before {
    content: counter(question)".";
    font-size: 1em;
    line-height: 1.75;
    left: 0;
  }

  .contents:not(.on) .q_wrap:not(.sub)::before {
    left: inherit;
  }

  .contents.on .q_wrap .question:not(.sub) {
    text-indent: 1.5em;
  }

  .contents.on .q_wrap .question:not(.sub)>* {
    text-indent: 0;
  }

  .contents.on .q_wrap h3 {
    text-indent: 1.5em;
  }

  .contents.on .q_wrap:nth-of-type(n+10) .question:not(.sub) {
    text-indent: 2em;
  }

  ol, ul {
    /* margin-left: -1.5em; */
  }

  li ol, li ul {
    margin-left: -1em;
  }
}
