body {
  padding: 0;
  margin: 0;
}

.contents {
  font-family: 'Noto Serif KR', serif;
}

dl#setting {
  padding: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  background: #fff;
  width: calc(100% - 2em);
  transition: .25s;
  /*border-top: 1px rgba(0, 0, 0, .12) solid;*/
}

section.on {
  margin: 1em -1em;
  padding: 2em;
  box-shadow: 0 5px 11px rgba(0, 0, 0, .2);
  /*width: 100%;*/
}

section h3 {
  margin: 0;
  cursor: pointer;
}

section>h3+a,
nav h3>a:nth-child(2) {
  position: absolute !important;
  right: 0;
  top: 1.4em;
  opacity: 0;
  color: rgba(0, 0, 0, 0.38) !important;
}

nav h3>a:nth-child(2) {
  top: .4em;
  z-index: 1;
  width: 20px;
  overflow: visible;
}

section>h3:hover+a,
nav h3:hover>a:nth-child(2) {
  opacity: 1;
  background: none;
}

section>h3+a:hover {
  box-shadow: none;
  background: none;
  opacity: 1;
}

nav.fold h3:hover>a:nth-child(2) {
  display: none;
}

.contents {
  line-height: 1.75;
  column-gap: 2.5em;
  counter-reset: question;
  transition: .25s;
}

.contents::after {
  font-weight: bold;
  margin-top: 1em;
  content: "끝."
}

#main_item .contents {
  margin: auto;
  column-width: 40em;
  height: calc(100vh - 4em - 56px);
  padding: 2em;
  overflow-y: visible;
  overflow-x: auto;
  transform: translateX(0);
}

.contents:not(.on) {
  column-count: 2;
  max-width: 210mm;
  column-gap: 10mm;
  margin: 16pt auto;
  font-size: 9pt;
}

.q_wrap {
  position: relative;
  padding: 0 2em 0 3em;
  margin-top: 2.5em;
  counter-reset: question_sub;
}

.q_wrap:first-child {
  margin-top: 0;
}

.q_wrap:not(.sub)::before {
  content: counter(question);
  counter-increment: question;
  position: absolute;
  right: calc(100% - 1em);
  font: bold 2em "Noto Serif KR", Serif;
  line-height: 1;
}

.contents:not(.on) .q_wrap {
  padding: 0 0 0 1.25em;
}

.contents:not(.on) .q_wrap:not(.sub)::before {
  content: counter(question) ".";
  position: absolute;
  top: 0;
  right: calc(100% - 1em);
  font: bold 1em Serif;
}

.q_wrap .question {
  font-weight: bold;
  padding-bottom: 1em;
}

.q_wrap.sub {
  padding: 0 0 0 1.75em;
  margin: 0;
}

.q_wrap .question.sub {
  position: relative;
}

.q_wrap .question.sub::before {
  content: "("counter(question_sub) ") ";
  counter-increment: question_sub;
  position: absolute;
  right: calc(100% + .5em)
}

.q_wrap .answer {
  padding-bottom: 1em;
  transition: .25s;
  font-family: 'Noto Sans KR', sans-serif;
}

.q_wrap .comment {
  font-size: .75em;
  font-style: italic;
  color: #1e88e5;
}

.contents table {
  border-collapse: collapse;
}

.contents table th,
.contents table td {
  border: 1px solid #000;
  padding: 0.25em 0.75em;
}

/* ***** mobile ***** */
@media handheld, only screen and (max-device-width:480px), only screen and (max-device-width:320px), screen and (max-width:600px) {
  section .contents h4 {
    margin-left: 0;
    padding: 0.5em 1em !important;
  }

  section.on {
    padding: 1em;
    margin: 1em -1em;
    width: 100%;
  }

  #main_item .contents {
    max-height: inherit;
    font-size: 14px;
  }

  .q_wrap {
    padding: 0;
  }

  .q_wrap:not(.sub)::before {
    content: counter(question)".";
    font-size: 1em;
    line-height: 1.75;
    left: 0;
  }

  .q_wrap .question:not(.sub) {
    text-indent: 1.5em;
  }

  .q_wrap:nth-child(n+10) .question:not(.sub) {
    text-indent: 2em;
  }

  .tip, .caution, .warning {
    display: inline-block;
    position: static;
    transform: rotate(0);
    /*margin: 0;*/
  }

  ol, ul {
    margin-left: -1.5em;
  }

  li ol, li ul {
    margin-left: -1em;
  }

  table {
    font-size: 12px;
  }
}
